html
  head
    link(rel="stylesheet" type="text/css" href="/style.css")
    title Spinnaker import/export tool
  body
    h2 Spinnaker import/export tool.
    a.action(href="#") Import
    a.action(href="#") Export
