html
  head
    link(rel="stylesheet" type="text/css" href="/style.css")
    title Spinnaker import/export tool
  body
    h2 Spinnaker import/export tool.
    .action
      form(action="/import" method="post" enctype="multipart/form-data") 
        input(type="file" name="csv")
        input(type="submit" value="import")       

    a.action(href="/export") Export
