html
  head
    link(rel="stylesheet" type="text/css" href="/style.css")
    title Spinnaker import/export tool
  body
    h2 Spinnaker import/export tool.
    
    div.action
      h4 Import
      form(action="/import" method="post" enctype="multipart/form-data")
        div
          input(type="file" name="csv")
        div
          input(type="submit" value="Import Archive")
    div.action
      h4 Export
        form(action="/export" method="post")
          div.download
            input(type="submit" value="Download Archive")
