body{
  font-family: "Lucida Grande";
}


.links{
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.action{
  display: block;
  float: left;
  width: 190px;
  margin-right:20px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 10px;
  background-color: #BFE6FF;
  font-size: 20px;
  padding: 10px;
  color: black;
  height: 90px;
}

h4{
  margin-top:5px;
}

.download{
  padding-top:30px;
}

a.action:hover{
  background-color: white;
}
